@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

:root {
  /* Fonts */
  --main-font: "Francois One", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --sec-font: "Bangers", cursive;

  /* Colors */
  --main-bg-color: #dae2b6;
  --sec-bg-color: #224b0c;
  --popup-main-color: #17762d;
  --popup-shell-correct-color: #224b0c;
  --popup-shell-incorrect-color: #d2d2d2;
  --card-content-color: #dae2b6;
  --rd-banner-color: #17762d;
  --hints-color: #f4e469;
  --info-main-color: ;
}

html {
  background-color: var(--main-bg-color);
  background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
  text-align: center;
  margin: none;
  padding: none;
}
h1 {
  font-family: var(--sec-font);
}

h3 {
  font-size: 20px;
}

h4 {
  font-family: var(--main-font);
}

body {
  margin: none;
  padding: none;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {}

/* -- HEADER AREA -- */

.header h1 {
  color: black;
}

.header i {
  color: white;
}




       /* -- New Game -- */

    .start-banner {
  padding: 1rem;
}

.new-game {
  /* display: flex;
  align-items: center; */
  width: 100%;
  height: 100vh;
  background-color: var(--main-bg-color);
  /* background-position: center;
  background-size: cover; */
  top: 0;
  left: 0;
}

.new-game-content {
  /* position: fixed; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  /* top: 0;
  left: 0;
  margin: 0 auto; */
  /* background-color: var(--main-bg-color); */
  /* opacity: 0.8; */
}

.new-game-logo {
  margin-bottom: -4em;
}
.new-game-title {
  margin-bottom: 0;
  font-size: 10em;
  color: #224b0c;
  padding: 0;
}

.new-game-subtitle {
  font-size: 1.5em;
  text-shadow: 0 0 10px black;
}

.new-game-btn-div {
  background-color: #260e01;
}

.new-game-btn-div h1 {
  font-size: 2em;
}

.new-game-btn {
  width: 100%;
  border: none;
  color: #f9f9f9;
  background-color: black;
}

.new-game-btn h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
}
.new-game-btn:hover {
  border: none;
  border-radius: 7px;
}

/* -- MAIN GAME AREA -- */

.game-area {
  min-height: 80vh;
  max-height: 100vh;
  margin: auto;
  background-color: var(--main-bg-color);
  background-size: 10px 4px;
  padding: 1rem 2rem 2rem 2rem;
}

.hints {
  width: 30%;
  margin: 0 auto;
  border-radius: 5px;
  /* border: 2px solid black; */
  background-color: inherit;
  box-shadow: 0 0.5em 1em 0 rgb(85, 85, 85);
}

.hint-btn {
  background-color: var(--hints-color);
  border: 0.5px solid rgb(154, 154, 154);
}

#round-banner {
  background-color: var(--rd-banner-color);
  color: white;
  margin: auto;
  font-size: 2.5rem;
  box-shadow: 0 0.15em 0.25em 0 rgb(85, 85, 85);
  border: 1px solid rgb(71, 71, 71);
}

#settings-shell {
  background-color: var(--main-bg-color);
  color: rgb(52, 52, 52);
}

.muted {
  color: #737e40;
  opacity: 0.5
}

.img-names-div {
  padding: 0 0 4em 0;
  margin: auto;
}

/* .img-div {
  background-color: inherit;
  box-shadow: none;
  padding-bottom: 0;
} */

.dog-names {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: auto;
  padding: 1rem;
}

.size-clue {
  margin-top: 1rem;
  border-bottom: 1px dashed black;
}

.is-child {
}

/* -- Dog Image -- */

.img-el {
}

.dog-img-banner {
  width: 70%;
  margin: auto;
}

.dog-img {
  /* object-fit:contain; */
  max-width: 60%;
  max-height: 45vh;
  border-radius: 5px;
  box-shadow: 0 0.5em 1em 0 rgb(85, 85, 85);
  /* box-shadow: 0 2em 2em 0 black */
}

/* -- Game Directions -- */

.modal-card-head {
  background-color: var(--popup-main-color);
}

.modal-card-head h1 {
  color: #ffffff;
}

.modal-card-body {
  background-color: var(--main-bg-color);
  color: black;
}

.modal-card h4 {
  color: #555e05;
}

.directions-bold {
  color: #555e05;
}

/* -- Result Pop up -- */

.popup-shell {
  background-color: var(--popup-shell-incorrect-color);
  min-width: 40%;
}

.popup-shell-correct {
  background-color: var();
  width: 40%;
}

.popup-shell-incorrect {
  background-color: var(--popup-shell-color);
  width: 40%;
}

.dog-info-shell {
  background-color: var(--card-content-color);
  color: rgb(52, 52, 52);
}

.popup-body {
  background-color: #abebc6;
}

/* -- Dog Buttons -- */

.dog-name-btns {
  background-color: beige;
  padding: 1rem;
  border: 2px solid rgb(52, 52, 52);
  border-radius: 20px;
  text-align: left;
  min-width: 80%;
  box-shadow: 0 8px 18px 0 black;
}

.border-gradient {
  background: linear-gradient(#000000 0 0) padding-box; /*this is your grey background*/
  /* linear-gradient(to right, #d7cb3f, #f4cdb8) border-box;
  color: #313149;
  border: 10px solid transparent;
  padding: 0px;
  border-radius: 50px;
  display: inline-block;
  margin: 75px 0; */
}

.dog-name-btns :disabled {
}

.name-div1 {
  margin: 0.5rem 0 0 0;
  padding: 0.5rem;
}

.name-div2 {
  text-align: center;
  color: #514a4a;
}

.noGuess {
  background-color: white;
}

.correctGuess {
  background-color: green;
}

.incorrectGuess {
  background-color: red;
}

.greyOut {
  background-color: grey;
}

/* -- Popup Area -- */

.rank-desc {
  color: white;
}

.dog-rank {
  font-family: var(--sec-font);
}

#result-buttons {
  padding: 1rem;
}

#next-btn {
  /* border: none; */
  background-color: rgb(7, 167, 71);
  /* background-color: rgb(32, 86, 210); */
}

#dog-pack-btn {
  background-color: rgb(45, 84, 193);
  background-color: rgb(82, 47, 153);
}

.back-btn {
  background-color: rgb(58, 38, 207);
  background-color: rgb(84, 83, 83);
}

.result-btn {
  border: 1px solid white;
  margin-left: 1rem;
  font-family: var(--sec-font);
  color: white;
}

.icon {
  margin: 2rem;
  /* color: #ffe59d; */
  padding: 1rem;
}

.result-correct {
  background-color: var(--popup-main-color);
  color: white;
}

.result-incorrect {
  background-color: rgb(84, 83, 83);
  color: white;
}

.dog-pack-shell {
  background-color: var(--popup-main-color);
}

.round-main {
  color: white;
}

.round-main h1 {
  color: white;
}

.round-main h5 {
  color: white;
}

.dog-card-result {
  justify-content: center;
}

.dog-bone {
  color: grey;
  padding: 2px;
}

.dog-bone-1 {
  color: white;
  padding: 2px;
}

.progress-div {
  width: 50%;
  margin: auto;
}

#completed-msg {
  background-color: var(--hints-color);
  color: rgb(54, 54, 54)
}

/* -- Dog Info -- */

.info-dog-img {
  max-width: 50%;
  max-height: 30vh;
  border-radius: 7px;
}

.dog-info {
  width: 100%;
  object-fit: contain;
}

/* -- Dog Card -- */

.dog-card-content {
  background-color: var(--card-content-color);
  border: 1px solid rgb(183, 183, 183);
  box-shadow: 0 5px 10px 0 rgb(67, 67, 67);
}

.dog-card-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.dog-card {
  justify-content: center;
  justify-self: center;
  max-width: 40%;
  padding: 0.5rem;
  margin: none;
  background-color: inherit;
  box-shadow: none;
}

.dog-card-shell {
  justify-content: center;
  padding: 1rem;
}

.dog-card-name {
  margin: 1rem;
}

/* -----  CELLPHONE SCREEN  ----- */
@media only screen and (max-width: 768px) {
  .new-game-logo {
    margin-bottom: -3em;
  }
  .new-game-title {
    font-size: 6em;
  }
  .new-game-subtitle {
    font-size: 1em;
  }

  .game-area {
    padding: 0.5rem 1rem;
  }

  #round-banner {
    font-size: 1.5rem;
    padding: 0.75rem;
  }

  .dog-img {
    max-width: 100%;
    max-height: 40vh;
  }

  .hints {
    width: 100%;
    background-color: ;
  }
  

  .dog-names {
    display: block;
    width: 100%;
    margin: auto;
    padding: 1rem;
    margin-top: 1.5rem;
  }

  .name-div1 {
    margin: 0;
    padding: 0;
  }

  .dog-name-btns {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .popup-shell {
    max-width: 95%;
    margin: auto;
  }

  .dog-card {
    max-width: 100%;
    margin: auto;
  }

  .dog-pack-shell {
    max-width: 90%;
    margin: auto;
  }

  .dog-info-shell {
    max-width: 90%;
    margin: auto;
  }

  #settings-shell {
    max-width: 90%;
    margin: auto;
  }

  .modal-card {
    max-width: 90%;
  }
}
