@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
html {
  background-color: #171717;
/* background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #995c4d, #e8e6d5 50%, #26997c 50%);
background-size: 10px 4px;   */
  /* background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.16'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  text-align: center;
  margin: none;
  padding: none;
}
h1 {
  font-family: 'Bangers', cursive;
}

h4 {
  font-family: 'Francois One', sans-serif;
}

body {
  margin: none;
  padding: none;
  font-family: 'Francois One', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .App {
  height: 100vh;
} */

.app-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.2;
}

.app-content {
  position: relative
}

        /* -- HEADER AREA -- */

.header {
  background-color:white;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin: none;
}

.header h1 {
  color: black;
}

.header i {
  color: white;
}

        /* -- New Game Screen -- */

.start-banner{
  padding: 1rem;
}
        /* -- MAIN GAME AREA -- */

/* .main {
  background-image: url("./images/dog_img.jpg");
  background-position: center;
  background-size: cover;
  top:0;
  left:0;
  height: 100vh;
} */

.game-area {
  min-height: 70vh;
  width: 80%;
  margin: auto;
  background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #995c4d, #e8e6d5 50%, #26997c 50%);
  background-size: 10px 4px;  
  padding: 2rem 2rem 6rem 2rem;
  
  /* background-color: white; */
  /* background-image: url("https://www.transparenttextures.com/patterns/gplay.png"); */
}

.hints-container {
}

.hints {
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #585856;
  box-shadow: 0 0.5em 1em 0 rgb(85, 85, 85)
}

#round {
  background-color: black;
  color: white;
}

.img-names-div {
  padding: 1em 0 4em 0;
  /* background-color: #fafafa; */
/* background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #995c4d, #e8e6d5 50%, #027948 50%);
background-size: 10px 10px; */
  /* background-color:#49238a ;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.16'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  /* background-image: url("https://images.unsplash.com/photo-1624359136353-f60129a367b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80"); */
}

.dog-names {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.is-child {
  background-color: #f4f0d6;
  box-shadow: 0 1em 1em 0 black;
}

    /* Dog Image */

.img-el {
}

.dog-img-banner {
  width: 70%;
  margin: auto;
}

.dog-banner-hide {
  visibility: hidden;
}

/* .dog-banner-show {
  font-size: 4em;
} */

.dog-img {
  /* object-fit:contain; */
  max-width: 50%;
  max-height: 40vh;
  border-radius: 5px;
  /* box-shadow: 0 2em 2em 0 black */
}

.modal-card-head {
  background-color: #16003B;
}

.modal-card-head h1 {
  color: #FFE59D;
}

.modal-card-body {
  background-color: #23025b;
  color:rgb(250, 248, 229);
}

.modal-card-body  h4{
  color:#FFE59D;
}

.popup-body {
  background-color:  #abebc6 ;
}

    /* Dog Buttons */

.dog-name-btns {
  background-color: #F9F9F9;
  padding: 1rem;
  border-radius: 50px;
  text-align: left;
  min-width: 80%;
  box-shadow: 0 8px 18px 0 black
}

.dog-name-btns :disabled {

}

/* .dog-name-btns h4 {
  max-width: 100%;
} */

.name-div1{
  text-align: center;
  color:#F9F9F9;
}

/* .name-div2{
  width: 100%;
  height: 100%;
} */
.noGuess {
  background-color: white;
}

.correctGuess {
  background-color: green
}

.incorrectGuess {
  background-color: red
}

.greyOut {
  background-color: grey
}


.hint {
  display: block;
  padding: 10px;

}

    /* New Game */

.new-game {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  /* background-image: url("./images/dog_img.jpg"); */
  background-position: center;
  background-size: cover;
  top:0;
  left:0;
  margin: auto;
}

.new-game-content {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  top:0;
  left:0;
  margin: 0 auto;
  background-color: black;
  opacity: 0.8;
}

.new-game-logo {
  margin-bottom: -4em;
}
.new-game-title {
  margin-bottom: 0;
  font-size: 10em;
  color:#F9F9F9;
  padding: 0;
}

.new-game-subtitle {
  font-size: 1.5em;
  text-shadow: 0 0 10px black;
}

/* #directions-background {
  opacity: 0
} */

    /* Popup Area */

#next {
  height: 5rem;
  width: 5rem;
  border-radius: 10rem;
}

#next-btn {
  font-size: 3rem;
}

@media only screen and (max-width: 768px){

  .new-game-logo {
    margin-bottom: -3em;
  }
  .new-game-title {
    font-size: 6em;
  }
  .new-game-subtitle {
    font-size: 1em;
  }
}

.new-game-btn-div {
  background-color: white;
}

.new-game-btn-div h1 {
  font-size: 2em;
}

.new-game-btn {
  width: 100%;
  border: none;
  color:#F9F9F9;
  background-color: black;

}

.new-game-btn h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
}
.new-game-btn:hover {
  border: none;
  border-radius: 7px
}
    /* Popup Area */

.pop-up {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #00000050;
  top:0;
  left:0;
  margin: auto
}

.pop-up-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 10vh;
  min-height: 30vh;
  max-height: 90%;
  max-width: 100%;
  margin: auto;
  border-radius: 20px;
  background-color: antiquewhite
}

.round-main {
  display: grid;
}

.dog-bone {
  color: grey;
  padding: 2px;
}

.dog-bone-1 {
  color: white;
  padding: 2px;
}

.progress-div {
  width: 50%;
  margin: auto;
}

.info-dog-img {
  max-width: 50%;
  max-height: 30vh;
  border-radius: 7px;
}

.dog-info {
  width: 100%;
  object-fit: contain;
}

/* -- FOOTER AREA -- */
